[Unit]
Description=GNU Mailing List Manager
After=syslog.target network.target mysql.service

[Service]
Type=forking
PIDFile=/var/run/mailman/master.pid
User=mailman
Group=mailman
ExecStart=/usr/bin/mailman start
ExecReload=/usr/bin/mailman restart
ExecStop=/usr/bin/mailman stop

[Install]
WantedBy=multi-user.target
