[Unit]
Description=OpenDmarc

[Service]
Type=forking
PIDFile=/var/run/opendmarc/opendmarc.pid
ExecStart=/usr/sbin/opendmarc -c /etc/opendmarc/opendmarc.conf
Restart=always
RestartSec=5
TimeoutSec=10

[Install]
WantedBy=multi-user.target
