[Unit]
Description=generate /etc/ssl/dh%i.pem

[Service]
Type=oneshot
ExecStart=/usr/bin/openssl dhparam %i -out /etc/ssl/dh%i.pem.tmp
ExecStartPost=/bin/mv /etc/ssl/dh%i.pem.tmp /etc/ssl/dh%i.pem
