[Unit]
Description=generate /etc/ssl/dh%i.pem

[Service]
Type=oneshot
ExecStart=/usr/bin/openssl dhparam -out /tmp/dh%i.pem %i
ExecStartPost=/bin/mv /tmp/dh%i.pem /etc/ssl/dh%i.pem
